.page {
    max-width: 1080px;
    margin: auto auto;
}

.top_row {
    padding-bottom: 20px;
}

.title {
    color: black;
    margin: auto 0;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
}

.tools {
    text-align: right;
    margin: auto 0;

    @media (max-width: 475px) {
	display: none;
    }
}

.pull_article {
    margin-right: .5rem;
}

.push_article {
    color: rgba(3, 168, 124, 1);
    border-color: rgba(3, 168, 124, 1);
}

.tp {
    padding: 20px 7px;
}
