.normal {
    font-family: Georgia, sans-serif;
    background-color: #fff;
}

.header {
    background-color: #fff;
    box-shadow: 1px 1px 15px  rgba(233, 233, 233, .8);
    margin-bottom: 64px;
}

.header_row {
    max-width: 1080px;
    margin: auto auto;
}

.header_title {
    height: 64px;
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
    color: black;
    div {
	width: 8rem;
	&:hover {
	    cursor: pointer;
	}
    }
}

.header_right {
    height: 64px;
    text-align: right;
    font-size: 1.5rem;
    font-weight: 300;
    color: black;
    a {
	margin: 0 0.5rem;
    }

    @media (max-width: 480px) {
	display: none;
    }
}

.content {
    padding: 0 50px;
}

.um {
    a {
	line-height: 1.8rem;
    }
}

.pm {
    a {
	line-height: 1.8rem;
    }
}
