@import url('https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/3.0.1/github-markdown.min.css');

.markdown-body > * {
    line-height: 2.5rem;
}

.markdown-body > img {
    width: 100%;
    object-fit: cover;
}
