.page {
    padding: 2rem;
}

.header {
    width: 100%;
    z-index: 3;
    text-align: center;
}

.container {
    position: relative;
    max-width: 750px;
    margin: 2rem auto;
}

.footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.time {
    padding-top: 1rem;
}

.article_time {
    text-align: right;
}

.author {
    font-weight: bold;
}

.author:hover {
    cursor: pointer;
}
