.page {
    padding: 2rem;
}

.header {
    width: 100%;
}

.container {
    position: relative;
    max-width: 750px;
    margin: 2rem auto;
}

.article {
    padding: 1rem;
    background-color: rgba(99, 99, 99, .1);
    margin: 3rem 0;
}

.article:hover {
    cursor: pointer;
}

.article_time {
    text-align: right;
}
